# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.vcxproj*
*.sln
*.sdf
*.opensdf
*.cmake
main.dir/
Debug
CMakeCache.txt
CMakeFiles/
Win32/
Makefile
main
main.suo